<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://depmapeventconsumerapp20230522134219.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1bfbb5d0-917e-4346-9026-1d3b344417f5/resourcegroups/pg0911-migrate-depmap/providers/Microsoft.Web/sites/DepMapEventConsumerApp20230522134219</ResourceId>
    <UserName>$DepMapEventConsumerApp20230522134219</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://depmapeventconsumerapp20230522134219.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>